/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@400;700&display=swap'); 
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: 'Nanum Pen Script', 'Noto Sans KR', sans-serif;
    }
@media (max-width: 767px) {
    
    a{
        color: red;
    }
    ul li{
        list-style-type: none;
    }
    .container{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    /* title */
    .title{
        width: 100%;
        height: 667px;
        background-image: url(../images/title.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    /* 인사말 */
    .card{
        width: 100%;
        height: 667px;
        background-color: #D5E4ED; 
    }
    #card .slide{
        width: 333px;
        height: 190px;
        overflow: hidden;
        margin: 0 auto;
    }
    .card h2{
        font-size: 32px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .card p{
        font: 16px 'Noto Sans KR';
        text-align: center;
        margin-top: 58px;
    }
    .card h3{
        text-align: center;
        font-size: 32px;
        margin-top: 23px;
    }
    .ani1{
        animation-name: ani1;
        animation-duration: 3s;
        animation-delay: 1s;
        opacity: 0;
        animation-fill-mode: forwards;
    }
    @keyframes ani1{
        0%{
            transform: translate(-400px,0);
        }
        100%{
            transform: translate(0,0);
            opacity: 1;
        }
    }
    .ani2{
        animation-name: ani2;
        animation-duration: 3s;
        animation-delay: 1s;
        opacity: 0;
        animation-fill-mode: forwards;
    }
    @keyframes ani2{
        0%{
            transform: scale(0.5, 0.5);
        }
        100%{
            transform: scale(1,1);
            opacity: 1;
        }
    }

    /* 게시판 */
    .label-hidden{
        display: none;
    }
    .review .content2 h2{
        font-size: 32px;
        text-align: center;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .rabbit{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    #review-box{
        /* outline: 1px solid red; */ 
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .review-box-sub{
        margin: 5px auto;
        display: flex;
        justify-content: space-between;
    }
    #review{
        border-radius: 15px;
        border: 1px solid #ddd;
        padding: 10px;
        margin: 0 auto;
    }
    #id_name{
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
        width: 13rem;
        margin-right: 5px;
    }
    #pwd{
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
        width: 8rem;
    }
    #btn-1{
        margin-left: 15px;
        margin-right: 15px;
        padding: 5px 20px;
        border-radius: 10px;
        border: 1px solid #ddd;
        
    }
    hr{
        color: rgba(255, 255, 255, 0.8); 
    }
    #text-box{
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    .dbtn{
        margin-bottom: 10px;
    }
    .text-box-name{
        font-weight: bold;
        font: 16px 'Noto Sans KR';
    }
    .text-box-desc{
        font: 14px 'Noto Sans KR';
        font-weight: 400;
    }
    .fa-trash-can{
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.493);
        background-color: #fff;
    }
    .input_value{
        border: none;
        display: none;
    }
    .content3 p{
        margin-left: 20px;
    }
}

@media (min-width: 768px) {
    
    ul li{
        list-style-type: none;
    }
    .container{
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    /* title */
    .title{
        width: 100%;
        height: 100vh;
        background-color: #F1EFFA;
        background-image: url(../images/title.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    /* 인사말 */
    .card{
        width: 100%;
        height: 667px;
        background-color: #D5E4ED; 
    }
    #card .slide{
        width: 333px;
        height: 190px;
        overflow: hidden;
        margin: 0 auto;
    }
    .card h2{
        font-size: 32px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .card p{
        font: 16px 'Noto Sans KR';
        text-align: center;
        margin-top: 58px;
    }
    .card h3{
        text-align: center;
        font-size: 32px;
        margin-top: 23px;
    }
    .ani1{
        animation-name: ani1;
        animation-duration: 3s;
        animation-delay: 1s;
        opacity: 0;
        animation-fill-mode: forwards;
    }
    @keyframes ani1{
        0%{
            transform: translate(-400px,0);
        }
        100%{
            transform: translate(0,0);
            opacity: 1;
        }
    }
    .ani2{
        animation-name: ani2;
        animation-duration: 3s;
        animation-delay: 1s;
        opacity: 0;
        animation-fill-mode: forwards;
    }
    @keyframes ani2{
        0%{
            transform: scale(0.5, 0.5);
        }
        100%{
            transform: scale(1,1);
            opacity: 1;
        }
    }
    
    /* 게시판 */
    .label-hidden{
        display: none;
    }
    .review .content2 h2{
        font-size: 32px;
        text-align: center;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .rabbit{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    #review-box{
        /* outline: 1px solid red; */ 
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .review-box-sub{
        margin: 5px auto;
        display: flex;
        justify-content: space-between;
    }
    #review{
        border-radius: 15px;
        border: 1px solid #ddd;
        padding: 10px;
        margin: 0 auto;
    }
    #id_name{
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
        width: 13rem;
        margin-right: 5px;
    }
    #pwd{
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ddd;
        width: 8rem;
    }
    #btn-1{
        margin-left: 15px;
        margin-right: 15px;
        padding: 5px 20px;
        border-radius: 10px;
        border: 1px solid #ddd;
        width: 350px;
        place-self: center;
        
    }
    hr{
        color: rgba(255, 255, 255, 0.8); 
    }
    #text-box{
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
    .dbtn{
        margin-bottom: 10px;
    }
    .text-box-name{
        font-weight: bold;
        font: 16px 'Noto Sans KR';
    }
    .text-box-desc{
        font: 14px 'Noto Sans KR';
        font-weight: 400;
    }
    .fa-trash-can{
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.493);
        background-color: #fff;
    }
    .input_value{
        border: none;
        display: none;
    }
    .content3 p{
        text-align: center;
        margin-left: 20px;
    }
}